
#titleCont {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    grid-row: 1;
    text-align: center;
}
#dayNames {
    display: grid;
    width: 95vw;
    grid-template-columns: repeat(7, 13.57vw);
    grid-row: 2;
    text-align: center;
    border-right: 1px solid #d97706;
}

#daysCont {
    display: grid;
    grid-row: 3;
    grid-template-columns: repeat(7, 13.57vw);
    grid-template-rows: repeat(6, 11.5vh);
}

@keyframes turnRight {
    0% {
        right: -100vw; 
    }
    50% {
        right: -50vw;
    }
    100% {
        right: 0vw;
    }
}
.page {
    position: absolute;
    right: 0;
    width: 100vw;
    
    animation-name: turnRight;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-direction: forwards;
    display: grid;
    grid-template-rows: 16vh 6vh 60vh 5vh;   
}

.dot {
    position: relative;
    height: 30px;
    width: 30px;
    margin-top: 36px;
    margin-left: 50px;
    background: #fcd34d;
    border-radius: 50%;
    display: none;
}